<form action="/movies/query" method="post">
	<input class="search-bar" name="search_query" required>
	<button class="search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>