<h1>
	Popular Movies
</h1>

<% @movies.each do |movie| %>
		<div class="poster">
			<a href="/movies/<%= movie.id %>">
				<img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" />
			</a>
		</div>
<% end %>